
html,body{
  height:100%;
}
body{
  font:12px \5fae\8f6f\96c5\9ed1;
  background: url(../images/body-background.png) #eae6d1;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
#header {
  padding: 25px 0px 20px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  background: #4276b6;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  min-height: 56px;
}
#header h1 {
  top: 15px;
  left: 420px;
  width:478px;
  text-align:center;
  position: absolute;
  font-family:"KaiTi";
  font-size: 30px;
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}
#LPbar{
  z-index: 500;
  position: absolute;
  left: 460px;
  top: 65px;
}
#Player_LP{
  position: absolute;
  left: 20px;
  width: 120px;
  color: #ff2222;
  font-size: 18px;
  text-align: center;
}
#AI_LP{
  position: absolute;
  left: 215px;
  width: 120px;
  color: #ff2222;
  font-size: 18px;
  text-align: center;
}
#detail_image{
  z-index: 100;
  position: absolute;
  left: 120px;
  top: 80px;
  height: 254px;
  width: 177px;
}
#detail_label{
  z-index: 100;
  position: absolute;
  left: 120px;
  top: 340px;
  width: 200px;
  height: 250px;
  border: 1px solid #00ffff;
  background: #bbbbbb;
}
#detail_textarea{
  z-index: 100;
  position: absolute;
  left: 120px;
  top: 340px;
  width: 220px;
  height: 270px;
  cursor:text;
  border: 1px solid #00ffff;
  background: #dddddd;
  color: #333333;
  resize:none;
}
#fields{
  z-index: 100;
  position: absolute;
  left: 410px;
  top: 135px;
  width: 500px;
  height: 478px;
}
#fields .location_mzone ,.location_szone{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 63px;
  height: 72px;
  background: #888888;
}
#fields .location_deck ,.location_extra,.location_grave,.location_removed,.location_field,.location_pzone_l,.location_pzone_r{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 52px;
  height: 72px;
  background: #555555;
}
#fields .location_deck{
	background-image: url(../images/deck.png);
	background-size:100% 100%; 
}
#fields .location_grave{
	background-image: url(../images/grave.png);
	background-size:100% 100%; 
}
#fields .location_extra{
	background-image: url(../images/extra.png);
	background-size:100% 100%; 
}
#fields .location_pzone_l{
	background-image: url(../images/pzone_l.png);
	background-size:100% 100%; 
}
#fields .location_pzone_r{
	background-image: url(../images/pzone_r.png);
	background-size:100% 100%; 
}
#fields .location_removed{
	background-image: url(../images/removed.png);
	background-size:100% 100%; 
}
#fields .location_field{
	background-image: url(../images/fields.png);
	background-size:100% 100%; 
}
#fields .location_hand{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 327px;
  height: 72px;
}
#fields .location_hand:hover,.location_extra:hover,.location_grave:hover,.location_removed:hover,.location_pzone:hover,.location_fzone:hover{
  border: 1px solid #ff0000;
}
#fields .location_deck:hover{
  border: 1px solid #ff0000;
}
#fields .location_mzone:hover,.location_szone:hover,.location_field:hover{
  border: 1px solid #ff0000;
}
#fields .thumb {
  z-index: 300;
  height: 64px;
  width: 44px;
  position: absolute;
  display: inline-block;
}
#fields .equipImg {
  top: 15px;
  left: 5px;
  position: absolute;
  display: inline-block;
}
#fields .targetImg {
  top: 15px;
  left: 5px;
  position: absolute;
  display: inline-block;
}
.field_group_count{
  z-index: 400;
  top: 60px;
  width: 52px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  text-shadow: 0px 2px 0px #235796;
  color: #ffff00;
}
.monster_ad{
  z-index: 400;
  top: 55px;
  width: 64px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  text-shadow: 0px 2px 0px #235796;
  color: #ffffff;
}
#radio{
  z-index: 100;
  left: 930px;
  top: 50px;
  position: absolute;
}
#cdblist{
	z-index: 100;
	left: 930px;
	top: 48px;
	font-size:medium;
	color:#ffffff;
	position: absolute;
	margin-bottom:4px;
}
#search_bar {
  z-index: 100;
  left: 930px;
  top: 80px;
  position: absolute;
  background: #bbbbbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  padding-right: 10px;
  width: 300px;
  text-align:center;
}
#search_bar .button {
  border: 1px solid #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  background: linear-gradient(#ffffff, #cccccc);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #dddddd;
  margin-left: 5px;
  padding: 5px 6px;
  margin-top: 6px;
  line-height: 18px;
  font: 20px "KaiTi","STKaiti";
  color: #333333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 80px;
}
#search_bar .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1199f9), color-stop(100%, #36438c));
  background: -webkit-linear-gradient(#1199f9, #36438c);
  background: -moz-linear-gradient(#1199f9, #36438c);
  background: -o-linear-gradient(#1199f9, #36438c);
  background: -ms-linear-gradient(#1199f9, #36438c);
  background: linear-gradient(#1199f9, #36438c);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #3678b9;
  color: #ffffff;
}
#search_bar .textfield {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-top: 12px;
  font: 20px "KaiTi","STKaiti";
  color: #333333;
  text-align: left;
  width: 60%;
  height: 25px;
}
#search_bar.thumbImg {
  z-index: 300;
  height: 64px;
  width: 44px;
  position: absolute;
  display: inline-block;
}
#search_bar .cardname {
  font-size: 14px;
  color: #333333;
  text-align: left;
  height: 64px;
  line-height: 60px;
  cursor: pointer;
}
#DragImage {
  border: 1px solid #4276b6;
  z-index: 1000;
  height: 64px;
  width: 44px;
  cursor:pointer;
}

#content{
  margin: 5px 30px 5px 30px;
  position: relative;
}
#popMenu{
  position:absolute;
  top:-9999px;
  left:-9999px;
  z-index:1000;
}
#popMenu ul{
  float:left;
  margin: 0;
  border:1px solid #979797;
  background:#f1f1f1;
  padding:2px;
  box-shadow:2px 2px 2px rgba(0,0,0,.6);
  list-style-type:none;
}
#popMenu ul li{
  float:left;
  clear:both;
  height:24px;
  width:100px;
  cursor:pointer;
  line-height:24px;
  white-space:nowrap;
  padding:0 30px;
}
#popMenu ul li.sub{
  background-repeat:no-repeat;
  background-position:right 9px;
  background-image:url(../images/arrow.png);
}
#popMenu ul li.check{
  background-repeat:no-repeat;
  background-position:left 3px;
  background-image:url(../images/check.png);
}
#popMenu ul li.active{
  background-color:#f1f3f6;
  border-radius:3px;
  border:1px solid #aecff7;
  height:22px;
  line-height:22px;
  padding:0 29px;
}
#popMenu ul ul{
  display:none;
  position:absolute;
}

table{
  width:100%;
  border-collapse:collapse;
  margin:5px 5px;
  padding: 5px 5px;
}
th, td {
  font:bold 14px  \5fae\8f6f\96c5\9ed1;
  text-align: left;
  border: 1px solid #4276b6;
  background: #64c8c8;
}
table, td{
  font:100% Arial, Helvetica, sans-serif; 
}
.select {
  height: 28px;
  width: 180px;
}
.spinner {
  height: 25px;
  width: 50px;
}
#sortable {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 450px;
}
#sortable li {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  width: 44px;
  height: 64px;
  text-align: center;
}
/* tablecloth styles */

tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}

td.over, tr.even td.over, tr.odd td.over{background:#bce774;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}


#downloadButton{
  z-index: 1000;
  top: 160px;
  left: 270px;
  cursor: pointer;
  width:60px;
  height:60px;
  margin: 5px 30px 5px 30px;
  position: absolute;
}
#settingButton{
  z-index: 1000;
  top: 270px;
  left: 270px;
  cursor: pointer;
  width:60px;
  height:60px;
  margin: 5px 30px 5px 30px;
  position: absolute;
}
#upload_div{
  z-index: 1000;
  top: 100px;
  left: 270px;
  cursor: pointer;
  width:60px;
  height:60px;
  margin: 5px 30px 5px 30px;
  position: absolute;
  background-image: url(../images/upload.png);
  background-size:100% 100%; 
}
#upload {
  width:60px;
  height:60px;
  opacity: 0;
  cursor: pointer;
}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/* box_button */
div.box_wrap{position:fixed;z-index:100;top:0;left:0;_position:absolute;_top:expression(documentElement.scrollTop + 0 + "px");_left:expression(documentElement.scrollLeft + 0 + "px");margin:50px 0 0 0;}
div.box_button{height:50px;width:50px;text-align:center;vertical-align:middle;float:left;cursor:help;}
div.box_main{background:#EEE;float:left;border:solid 1px #4D4D4D;border-bottom:none;}
/* menu */
ul#menu,ul#menu ul{width:200px;}
ul#menu a{display:block;text-decoration:none;}
ul#menu li a img{margin-right:5px; width:30px; height:30px;}
ul#menu li{width:200px;}
ul#menu li a{color:#333;background:#eeeeee;font-family:Arial, Helvetica, sans-serif;border-bottom:solid 1px #333;font-size:18px;padding:5px; }
ul#menu ul li{padding:10px;font-size:12px;}
ul#menu ul li a{display:inline-block;}