
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

#header {
  padding: 25px 20px 20px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: #4276b6;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  min-height: 56px;
}
#header h1 {
  font: 40px/48px "Copse", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}

#main {
  z-index: 100;
  left: 100px;
  position: fixed;
  top: 55px;
  width: 1200px;
  height: 600px;
}
#detail{
  z-index: 100;
  position: fixed;
  left: 100px;
  top: 120px;
}
#detail_image{
  z-index: 100;
  position: fixed;
  left: 120px;
  top: 80px;
  height: 254px;
  width: 177px;
}
#detail_label{
  z-index: 100;
  position: fixed;
  left: 120px;
  top: 340px;
  width: 200px;
  height: 250px;
  border: 1px solid #00ffff;
  background: #bbbbbb;
}
#detail_textarea{
  z-index: 100;
  position: fixed;
  left: 120px;
  top: 340px;
  width: 200px;
  height: 250px;
  border: 1px solid #00ffff;
  background: #dddddd;
  color: #333333;
}
#fields{
  z-index: 100;
  position: fixed;
  left: 400px;
  top: 135px;
  width: 478px;
  height: 478px;
}
#main .location_mzone ,.location_szone{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 63px;
  height: 72px;
  background: #888888;
}
#fields .location_deck ,.location_extra,.location_grave,.location_removed,.location_field{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 52px;
  height: 72px;
  background: #555555;
}
#fields .location_hand{
  position: absolute;
  display: inline-block;
  width: 327px;
  height: 72px;
}
#fields .thumb {
  z-index: 300;
  height: 64px;
  width: 44px;
  position: absolute;
  display: inline-block;
}
#search_bar {
  z-index: 100;
  left: 920px;
  top: 55px;
  position: fixed;
  background: #bbbbbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  padding-right: 10px;
  width: 300px;
  text-align:center;
}
#search_bar .button {
  border: 1px solid #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  background: linear-gradient(#ffffff, #cccccc);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #dddddd;
  margin-left: 5px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 80px;
}
#search_bar .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1199f9), color-stop(100%, #36438c));
  background: -webkit-linear-gradient(#1199f9, #36438c);
  background: -moz-linear-gradient(#1199f9, #36438c);
  background: -o-linear-gradient(#1199f9, #36438c);
  background: -ms-linear-gradient(#1199f9, #36438c);
  background: linear-gradient(#1199f9, #36438c);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #3678b9;
  color: #ffffff;
}
#search_bar .textfield {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-top: 12px;
  font-size: 18px;
  color: #333333;
  text-align: left;
  width: 60%;
  height: 25px;
}
#search_bar .cardname {
  font-size: 14px;
  color: #333333;
  text-align: left;
  height: 64px;
  line-height: 60px;
  cursor: pointer;
}
#DragImage {
  border: 1px solid #4276b6;
  z-index: 1000;
  height: 64px;
  width: 44px;
}

#content{
  margin: 5px 30px 5px 30px;
  position: relative;
}

#download{
  z-index: 1000;
  top: 70px;
  left: 280px;
  margin: 5px 30px 5px 30px;
  position: relative;
}
table{
  width:100%;
  border-collapse:collapse;
  margin:5px 5px;
  padding: 5px 5px;
}


table, td{
  font:100% Arial, Helvetica, sans-serif; 
}
th, td {
  text-align: left;
  border-left: 1px solid #4276b6;
  border-right: 1px solid #4276b6;
  border-top: 1px solid #4276b6;
  border-bottom: 1px solid #4276b6;
  background: #64c8c8;
}

/* tablecloth styles */

tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}

td.over, tr.even td.over, tr.odd td.over{background:#bce774;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}

html,body{
  height:100%;
  overflow:hidden;
}
body{font:12px/1.5 \5fae\8f6f\96c5\9ed1;}
#popMenu{
  position:absolute;
  top:-9999px;
  left:-9999px;
  z-index:1000;
}
#popMenu ul{
  float:left;
  margin: 0;
  border:1px solid #979797;
  background:#f1f1f1;
  padding:2px;
  box-shadow:2px 2px 2px rgba(0,0,0,.6);
  list-style-type:none;
}
#popMenu ul li{
  float:left;
  clear:both;
  height:24px;
  cursor:pointer;
  line-height:24px;
  white-space:nowrap;
  padding:0 30px;
}
#popMenu ul li.sub{
  background-repeat:no-repeat;
  background-position:right 9px;
  background-image:url(../images/arrow.png);
}
#popMenu ul li.active{
  background-color:#f1f3f6;
  border-radius:3px;
  border:1px solid #aecff7;
  height:22px;
  line-height:22px;
  background-position:right -8px;
  padding:0 29px;
}
#popMenu ul ul{
  display:none;
  position:absolute;
}
